<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://base.id">
<head>
<meta charset="ISO-8859-1"/>
<title>Machinery</title>
</head>
<body>
	<div class="pageheader">
		<div class="row col-md-8">
			<h4><i class="fa fa-tachometer"></i> Settings / Mesin / Tambah Mesin
			<span></span></h4>
		</div>
	</div>
	<div class="row col-md-8" id="content-form">
	<section class="tile color transparent-black">
			<div class="tile-body">
				<form action="#" id="machinery-detail-form" class="form-horizontal" method="POST" novalidate="novalidate" th:object="${detail}">
					<div class="stockTypeStyle">
						<div class="form-group">
							<div class="col-md-12">
								<div id="errorFragmentList2">
									<th:block th:if="${message}">
										<div class='alert alert-success'>
											<a href='#' class='close' data-dismiss='alert' aria-label='close' title='close'>&#10006;</a>			
											<label th:text="${message}"></label>
										</div>
									</th:block>
								</div>
							</div>									
							&nbsp;
						</div>
						<input id="machinery-detail-maintenancePk" type="hidden" th:field="*{pkCompanyMachinery}"/>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="'Nama'">Nama</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Nama" name="srch-term" id="input-text-name" th:field="*{name}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Model</label>
							<div class="col-sm-9 form-input-container">
								<select class="chosen-select chosen-transparent form-control" th:field="*{model.pkLookup}">
									<option th:each="opt : ${modelList}" th:value="${opt.pkLookup}" th:text="${opt.name}"></option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Tipe</label>
							<div class="col-sm-9 form-input-container">
								<select class="chosen-select chosen-transparent form-control" th:field="*{type.pkLookup}">
									<option th:each="opt : ${typeList}" th:value="${opt.pkLookup}" th:text="${opt.name}"></option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label" th:text="'Kapasitas'">Kapasitas</label>
							<div class="col-sm-9 form-input-container">
								<input type="text" class="form-control" placeholder="Kapasitas" name="srch-term" id="input-text-name" th:field="*{capacity}"/>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Weighting</label>
							<div class="col-sm-9 form-input-container">
								<select class="chosen-select chosen-transparent form-control" th:field="*{weighting.pkLookup}">
									<option th:each="opt : ${weightingList}" th:value="${opt.pkLookup}" th:text="${opt.name}"></option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Capacity UOM</label>
							<div class="col-sm-9 form-input-container">
								<select class="chosen-select chosen-transparent form-control" th:field="*{capacityUOM.pkLookup}">
									<option th:each="opt : ${capacityUomList}" th:value="${opt.pkLookup}" th:text="${opt.name}"></option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Power Source</label>
							<div class="col-sm-9 form-input-container">
								<select class="chosen-select chosen-transparent form-control" th:field="*{powerSource.pkLookup}">
									<option th:each="opt : ${powerSourceList}" th:value="${opt.pkLookup}" th:text="${opt.name}"></option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Ownership</label>
							<div class="col-sm-9 form-input-container">
								<select class="chosen-select chosen-transparent form-control" th:field="*{ownerships.pkLookup}">
									<option th:each="opt : ${ownershipsList}" th:value="${opt.pkLookup}" th:text="${opt.name}"></option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Produk Asal</label>
							<div class="col-sm-9 form-input-container">
								<select class="chosen-select chosen-transparent form-control" th:field="*{companyProductFrom.pkCompanyProduct}">
									<option th:each="opt : ${companyProductList}" th:value="${opt.pkCompanyProduct}" th:text="${opt.name}"></option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Produk Hasil</label>
							<div class="col-sm-9 form-input-container">
								<select class="chosen-select chosen-transparent form-control" th:field="*{companyProductTo.pkCompanyProduct}">
									<option th:each="opt : ${companyProductList}" th:value="${opt.pkCompanyProduct}" th:text="${opt.name}"></option>
								</select>
							</div>
						</div>
						<div class="form-group form-footer">				
							<div class="col-sm-offset-3 col-sm-9">
								<a href="#" id="machinery-detail-btn-cancel" class="btn btn-default" type="reset" data-toggle="tooltip" title="" data-original-title="Kembali ke list setting gudang">Batal</a>
								<button id="machinery-detail-btn-save" class="btn btn-primary" type="submit" data-toggle="tooltip" title="" data-original-title="Menyimpan data">Simpan</button>
							</div>
						</div>
					</div>
				</form>
			</div>
	</section>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	    $(function(){
	    	showScrollForm('content-form',-80);
	    	
			var backToList = function(){
				returnToList('machinery-detail-container', 'machinery-list-container', true);
			};
	    	
			var submitForm = function(){
				cleanErrorParsley();
				var sURL = /*[[@{/do/settings/machinery/saveMachinery/}]]*/ #;
				$.post(sURL, $("#machinery-detail-form").serialize(), function(data) {
					if(data.errorList!=null){
						displayErrorParsley(data.errorList, 2);
					}else{
						backToList();
					}
				});
			};
			
			$('#machinery-detail-btn-save').click(function(e){
				e.preventDefault();
				submitForm();
			});
			
			$('#machinery-detail-btn-cancel').click(function(e){
				e.preventDefault();
				backToList();
			});
	    });
	/*]]>*/
	</script>
</body>
</html>