<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:ifs="http://base.id">
<head>
<meta charset="ISO-8859-1"/>
<title>Profile</title>
</head>
<body>
	<div class="pageheader">
		<h4><i class="fa fa-tachometer"></i> Settings / Produk / Tambah Produk
		<span></span></h4>
	</div>
	<div class="row col-md-8">
	<section class="tile color transparent-black">
			<div class="tile-body">
				<div class="tile-body">
					<form action="#" id="product-detail-form" class="form-horizontal" method="POST" novalidate="novalidate" th:object="${detail}">
						<div class="stockTypeStyle">
							<div class="form-group">
								<div class="col-md-11" style='margin:10px;'>
									<div id="errorFragmentList">
										<th:block th:if="${message}">
											<div class='alert alert-success'>
												<a href='#' class='close' data-dismiss='alert' aria-label='close' title='close'>&#10006;</a>			
												<label th:text="${message}"></label>
											</div>
										</th:block>
									</div>
								</div>									
								&nbsp;
							</div>
							<input id="product-detail-maintenancePk" type="hidden" th:field="*{pkCompanyProduct}"/>
							<input id="product-detail-company-pkCompany" type="hidden" th:field="*{company.pkCompany}"/>
							<input id="product-detail-valid" type="hidden" th:field="*{status}"/>
							<div class="form-group">
								<label class="col-sm-4 control-label" th:text="'ID Produk'">ID Produk</label>
								<div class="col-sm-8 form-input-container">
									<input type="text" id="product-detail-input-text-id" class="form-control" placeholder="Kode Produk" name="srch-term" th:field="*{code}"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label" th:text="'Nama'">Nama</label>
								<div class="col-sm-8 form-input-container">
									<input type="text" class="form-control" placeholder="Nama" name="srch-term" id="input-text-name" th:field="*{name}"/>
								</div>
							</div>
							<div class="form-group">
								<label for="input07" class="col-sm-4 control-label">Satuan Ukur</label>
								<div class="col-sm-8 form-input-container">
									<select id='product-detail-select-uom' class="chosen-select chosen-transparent form-control" th:field="*{uom.pkLookup}">
										<option th:each="opt : ${optionUOM}" th:value="${opt.pkLookup}" th:text="${opt.name}"></option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label" for="input01">Harga Beli (Rp)</label>
								<div class="col-sm-8 form-input-container">
									<div class="input-group">
										<span class="input-group-addon addon-greensea">Rp</span> 
										<input type='text' class="form-control autonumeric" id='input-text-unitHarga' th:field="*{buyingPrice}"/>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-4 control-label" for="input01">Harga Jual (Rp)</label>
								<div class="col-sm-8 form-input-container">
									<div class="input-group">
										<span class="input-group-addon addon-greensea">Rp</span> 
										<input type='text' class="form-control autonumeric" id='input-text-unitHarga' th:field="*{sellingPrice}"/>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="input07" class="col-sm-4 control-label">Jenis Produk</label>
								<div class="col-sm-8 form-input-container">
									<select id='product-detail-select-uom' class="chosen-select chosen-transparent form-control" th:field="*{productType.pkLookup}">
										<option th:each="opt : ${optionCategoryStockType}" th:value="${opt.pkLookup}" th:text="${opt.name}"></option>
									</select>
								</div>
							</div>
							<div class="form-group form-footer">
								<label for="input07" class="col-sm-4 control-label">&nbsp;</label>				
								<div class="col-md-4 tile-body no-vpadding" style="margin:10px;">
									<button id="product-detail-btn-save" class="btn btn-primary" type="submit" data-toggle="tooltip" title="" data-original-title="Menyimpan data">Simpan</button>
									<a href="#" id="product-detail-btn-cancel" class="btn btn-default" type="reset" data-toggle="tooltip" title="" data-original-title="Kembali ke list setting produk">Batal</a>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
	</section>
	</div>
	<script th:inline="javascript">
	/*<![CDATA[*/
	    $(function(){
			var backToList = function(){
				returnToList('product-detail-container', 'product-list-container', true);
			};
	    	
			var submitForm = function(){
				cleanErrorParsley();
				var sURL = /*[[@{/do/setting/product/saveProduct/}]]*/ #;
				$.post(sURL, $("#product-detail-form").serialize(), function(data) {
					if(data.errorList!=null){
						displayErrorParsley(data.errorList);
					}else{
						backToList();
					}
				});
			};
			
			$('#product-detail-btn-save').click(function(e){
				e.preventDefault();
				submitForm();
			});
			
			$('#product-detail-btn-cancel').click(function(e){
				e.preventDefault();
				backToList();
			});
	    });
	/*]]>*/
	</script>
</body>
</html>